@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.navbar_all {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999;
}

.HOPINFO {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.chat {
  display: flex;
  justify-content: right;
  width: 220px;
  margin-right: 40px;
  margin-top: 10px;
}

.navbarMenu_logo {
  color: black;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  padding: 15px 0px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: right;
  display: flex;
  justify-content: center;
}

/* .navbarMenu {
  color: black;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  height: 32px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  text-decoration: none;
}

#navbar_underline {
  justify-content: center;
}

#navbar_underline:after {
  content: '';
  display: flex;
  justify-content: center;
  width: 48px;
  border-bottom: 2.5px solid black;
  margin: auto;
  margin-top: 8px;
} */

.navbarMenu {
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  height: 30px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  text-decoration: none;
}

.navbarMenu.underline {
  position: relative;
}

.navbarMenu.underline:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  border-bottom: 2.5px solid black;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.navbarMenu:hover {
  text-shadow: -0.5px -0.5px 1px rgba(180, 182, 186, 0.804);
  background-color: rgba(237, 237, 237, 0.831);
  transition-duration: 0.5s;
}

.icon-link-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-link-button:focus {
  outline: none;
}

.icon-user-circle-o {
  text-decoration: none;
  color: black;
  width: 100px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.icon-link {
  text-decoration: none;
}

.icon-link-form {
  height: 50px;
}

.mypage-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1rem;
}
